In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(dict(
    a = [1,2,3],
    b = 1,
    c = ["a","B","C"]
))

In [5]:
df

   a  b  c
0  1  1  a
1  2  1  B
2  3  1  C

In [6]:
s1 = pd.Series([1,2,3])

In [7]:
s2 = pd.Series([4,5,6], index=["a","b","c"])

In [8]:
pd.DataFrame({"S1":s1, "S2":s2})

    S1   S2
0  1.0  NaN
1  2.0  NaN
2  3.0  NaN
a  NaN  4.0
b  NaN  5.0
c  NaN  6.0