## code snippets for lecture 12  

Feel free to run code in this notebook during lecture. Modify and experiment!

In [8]:
# simple assignment

my_var = 42

my_var = True

In [ ]:
# assignment to string

my_string = 'Hello world!'

long_string = 'There is grandeur in this view of life, with its several powers, having been originally breathed into a few forms or into one; and that, whilst this planet has gone cycling on according to the fixed law of gravity, from so simple a beginning endless forms most beautiful and most wonderful have been, and are being, evolved.'

In [ ]:
# assignment to list

my_list = [1, 2, 3, 4]

my_list = ['guanine', 'adenosine', 'cytosine', 'thymidine']

In [12]:
# printing results

print(my_var)

print(my_list)

type(my_var)

True
['guanine', 'adenosine', 'cytosine', 'thymidine']

bool

In [13]:
# simple expressions

print(1 + 1 < 5)

print(42 % 7 == 0)

print('uracil' in my_list)

True
True
False

In [14]:
# mutable and immutable objects

# assign an existing mutable object
my_list = [1, 2, 3,4, 5]
new_list = my_list

new_list[1] = 'fjords'
print(my_list)
print(new_list)

# now try with an immutable object
my_tuple = (1, 2, 3, 4, 5)
new_tuple = my_tuple

new_tuple[1] = 'fjords'

[1, 'fjords', 3, 4, 5]
[1, 'fjords', 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [16]:
# functions with mutable and immutable objects

# apply sort to a mutable object
my_list = [3, 1, 5, 2, 4]
my_list.sort() 
output = my_list.sort()

print(my_list)
print(output)

# now apply sort to an immutable object
my_tuple = (3, 1, 5, 2, 4)
my_tuple.sort()

[1, 2, 3, 4, 5]
None

AttributeError: 'tuple' object has no attribute 'sort'

In [18]:
# indexing

# create a list
my_obj = [12, 7, 23, 0, 8, -2, 4, 5]

# now extract items using indexing
my_obj[1]
my_obj[0:1]
my_obj[3:]
my_obj[:2]
my_obj[-1]
my_obj[0:8:3]
my_obj[-1:0:-1]
my_obj[::-1]

[5, 4, -2, 8, 0, 23, 7, 12]

In [19]:
# calling functions and methods

# create a list and call a function
my_list = [5, 3, 1, 2, 4]
function_result = len(my_list)        
print(function_result)               

# now call a method
my_list.sort()                        
print(my_list)                        
my_string = 'hello world'
my_string.sort()

5
[1, 2, 3, 4, 5]

AttributeError: 'str' object has no attribute 'sort'

In [23]:
# flow control template:  if / else 

# test for life stage of frogs
gills = False
if gills == True :
    cohort = 'tadpole'
else : 
    cohort = 'adult'
print('Cohort is: ', cohort)

Cohort is:  adult

In [25]:
# flow control template: for loop

# print out names of study group
study_group = ['Athena', 'Thor', 'Ra'] 
for x in study_group :
    print('name:', x)
num = len(study_group)
print('total individuals =', num)

name: Athena
name: Thor
name: Ra
total individuals = 3

In [28]:
# create a function to test whether 7 is a factor

def is_div_by_7(input_value) :
    if input_value % 7 == 0 : return True
    else: return False 

# call the function
result_1 = is_div_by_7(3)
result_2 = is_div_by_7(42)
print(result_1, result_2)

False True