In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.DataFrame(dict(
    a = [1,2,3],
    b = 1,
    c = ["a","B","C"]
))

In [5]:
df

   a  b  c
0  1  1  a
1  2  1  B
2  3  1  C