# Problem Set 18: Introduction to SQL

Author: Greg Wray  
2024-FEB-25

## Instructions

Create a markdown document within JupyterLab and answer the questions below using code blocks that generate the correct outputs. We encourage you to include explanatory text in your markdown document. 

Write "robust" solutions wherever possible. A good rule of thumb for judging whether your solution is appropriately "robust" is to ask yourself "If I added additional observations or variables to this data set, or if the order of variables changed, would my code still compute the right solution?"

Make sure your markdown is nicely formatted -- use headers, bullets, numbering, etc so that the structure of the document is clear.

When completed, title your Jupyter notebook file as follows (replace `XX` with the assignment number, e.g. `01`, `02`, etc):

-   `netid-assignment_XX-Spring2024.ipynb`

Submit both your markdown file and the generated HTML document via the Assignments submission section on Sakai.

**Specific to this problem set:** Refer to `SQL_notebook_1.ipynb` (available on the class wiki) for the code to load packages and re-create the birdwatching database. This notebook also contains the queries we went over in class, as well as notes about syntax and usage.

**1.** The Bat Falcon (below; photo by Joao Quintal) is a beautiful bird whose range extends from southern Mexico to northern Argentina. What country was Greg in the second time he saw a Bat Falcon? You could construct a single, rather complicated query to get the answer, but for one-off questions like this, it's usually quicker to break the problem down into several simple and separate queries. In this case, you can get the answer using queries to the `species`, `observations`, and `locations` tables, in that order. Show the three simple queries and give the answer.

![Bat Falcon, photo by Joao Quintal](Bat_Falcon.jpg)

**2.** What was Greg's biggest birding day ever? Where in the world was he on this epic day? (**A**) First, write a single query that returns the date on which the largest total number of species was observed. (**B**) Next, write a separate query that returns all of the locations on that day where he recorded an observation. Use aliases to make the meaning of the results clear. (**C**) Bonus question: What was Greg's biggest birding day in terms of the number of **new** species observed?

**3.** Building on the previous problem: (**A**) Write a query that returns all of the species observed on the big day. Use `DISTINCT` to remove any redundant listings (i.e., species observed more than once on that day should appear only once in the output). (**B**) extend this query with a left join to return additional information about each species: its common name, its conservation status, and whether it is an endemic or near-endemic (range restricted to one country). Order the output of this second query by IOC sequence, not by the order in which they were seen. Use `CONCAT` and aliases to provide nicely formatted output and informative column names.

**4.**  Many websites draw information from relational databases and present summary statistics. An example is eBird, a website where you can upload your own birding observations and contribute to an extremely valuable crowd-sourced database. Click [here](https://ebird.org/home) to visit the eBird homepage, then scroll down to the blue bar across the page that displays "EBIRD STATS". Every time you load the webpage, an SQL query is executed behind the scenes that returns the current tallies, which are then assigned into variable names in the html code for the webpage. If you set up an account and contribute lists, your personal tallies will appear under "MY STATS" next to the rotating bird photo near the top of the page.

In class, we constructed a nested query that returns a similar kind of tally, namely the total number of species observed, along with the total number of species recognized by the IOC. Both of these numbers changes many times each year, as more observations are made and as the IOC incorporates information from studies that clarify species boundaries. The code from class is shown below. Your task is to extend this query to return tallies and total numbers for all four taxonomic ranks in the birding database. Bear in mind that the `orders` and `families` tables are complete, while the `genera` and `species` tables only contain taxa that have been observed. This means you will need to construct different nested queries for some of the different taxonomic ranks. You may need to shorten the column aliases to get them to fit on one line of output (e.g., 'spp obs' and 'spp total').

(**A**) Start by adding subqueries that return the number of observed and total genera. These can be modeled on the corresponding columns for species. (**B**) Next, add subqueries for families. These need to differ, because the `families` table is comprehensive: it has entries for every family, whether seen or not. This provides a straighforward way to compute the total number of families. If you are having trouble figuring out how to compute the number of families observed, a hint is that you will need to query the `genera` table. (**C**) Bonus question: add subqueries for orders. Retrieving the total number of orders can be modeled on the method for families. However, retrieving the number of observed orders is harder. A hint is that it will require a subquery within a subquery. If you can figure this one out, you are on your way to becoming a SQL Jedi Master!

In [ ]:
%%sql
-- return the number of species observed and the total number recognized
SELECT
  (SELECT CURRENT_DATE) AS 'as of',
  (SELECT COUNT(DISTINCT (genus_ioc, species_ioc)) FROM species) AS 'species observed',
  (SELECT SUM(num_spp) FROM families) AS 'out of a total of';

**5. Notebook:** Choose something that you learned from lecture, the hands-on coding in class, or your own investigation that you think will be valuable for your future programming endeavors. Using text or a mix of text and code, create an entry for your notebook. Add this to your notebook and include it here.

**5. Thursday lunch:** Identify something that you learned from the presentation or discussion on Thursday that you found valuable. Provide a brief reflection here (1-5 sentences) and include code or pseudo-code if useful. (Hint: consider adding this to your notebook as well.)